# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
.vs/*
build/*
out/*
exts/*
CMakeFiles/*
src/.ccls-cache/*
/.vs/slnx.sqlite
.vscode/c_cpp_properties.json
.clangd/index/_fixes.hpp.7AAE3E7F6E0B96FE.idx
.clangd/index/_noise.hpp.393697CC2ED02C04.idx
.clangd/index/_vectorize.hpp.796AB54CAF2FF304.idx
.clangd/index/bitfield.hpp.B334A9D580CE044E.idx
.clangd/index/bitfield.inl.7CC2F0CC2F62C7C5.idx
.clangd/index/Camera.cpp.C59ED916C7A917FF.idx
.clangd/index/Camera.hpp.FEAE9DC603122FDF.idx
.clangd/index/color_space.hpp.73B61E8E0E8A5B29.idx
.clangd/index/color_space.inl.3F119D5382B170E4.idx
.clangd/index/common.hpp.FDDEDC950CBC7D1B.idx
.clangd/index/compute_common.hpp.A4D181496D200A8D.idx
.clangd/index/compute_vector_relational.hpp.81314CCCF5E6AB6E.idx
.clangd/index/constants.hpp.C2B931AFA3DD7FBF.idx
.clangd/index/constants.inl.25495063D57853AC.idx
.clangd/index/context.c.3E005803D75CDF26.idx
.clangd/index/egl_context.c.4B6D1F57B54E987F.idx
.clangd/index/egl_context.h.CA9A202FEB7D5AE0.idx
.clangd/index/epsilon.hpp.67B16CDBE6676EF1.idx
.clangd/index/epsilon.inl.A53627CDED8D21BB.idx
.clangd/index/exponential.hpp.45D4959A5C1DF67C.idx
.clangd/index/ext.hpp.FB5B0194165C3982.idx
.clangd/index/func_common.inl.5571DEA774894634.idx
.clangd/index/func_exponential.inl.9519DFC550662A4B.idx
.clangd/index/func_geometric.inl.80964AE79A21C98A.idx
.clangd/index/func_integer.inl.F3CEF823A4978C90.idx
.clangd/index/func_matrix.inl.FB3188A1E349A37A.idx
.clangd/index/func_packing.inl.F2C14041076972C8.idx
.clangd/index/func_trigonometric.inl.EC14E4C6E239A5FD.idx
.clangd/index/func_vector_relational.inl.20C9176EC7F2FDD6.idx
.clangd/index/fwd.hpp.CC575FE0ABB8AEA6.idx
.clangd/index/geometric.hpp.074A8E959EC880D2.idx
.clangd/index/glfw3.h.E2A134D4378660F4.idx
.clangd/index/glm.hpp.A0C07C2882A44643.idx
.clangd/index/glx_context.c.293499B1F65AE699.idx
.clangd/index/glx_context.h.5B372903E78C095E.idx
.clangd/index/GraphicsObject.cpp.CD25924BA088C7FE.idx
.clangd/index/GraphicsObject.hpp.CAC3F54BC79B7AE1.idx
.clangd/index/init.c.18265B5F09028525.idx
.clangd/index/input.c.59034CD03B1585C8.idx
.clangd/index/integer.h.C57826857B44E7A7.idx
.clangd/index/integer.hpp.2230A1CBEC21CDC1.idx
.clangd/index/integer.hpp.C317D85CA44496B0.idx
.clangd/index/integer.inl.BB73EDD13FA421EE.idx
.clangd/index/internal.h.49D2B35C9ABD502E.idx
.clangd/index/linux_joystick.c.97C6AB6145444736.idx
.clangd/index/linux_joystick.h.D33141B88242FA46.idx
.clangd/index/main.cpp.3D173DA3CB4D4D11.idx
.clangd/index/mappings.h.AAA032EF8A47C76A.idx
.clangd/index/mat2x2.hpp.BE2EE64088BD5DEF.idx
.clangd/index/mat2x3.hpp.37C614E71491816A.idx
.clangd/index/mat2x4.hpp.509BC1D826ADDD97.idx
.clangd/index/mat3x2.hpp.14CEBB1ADB5A34F7.idx
.clangd/index/mat3x3.hpp.C83B3FE10C6D3B90.idx
.clangd/index/mat3x4.hpp.1E0FE9AD07B501C0.idx
.clangd/index/mat4x2.hpp.AA0D640164E35EC1.idx
.clangd/index/mat4x3.hpp.5188E5F61C83C84B.idx
.clangd/index/mat4x4.hpp.30F563292CCEC65A.idx
.clangd/index/matrix_access.hpp.3F2C06CEDC4FE988.idx
.clangd/index/matrix_access.inl.64551471D3AF8533.idx
.clangd/index/matrix_clip_space.hpp.E1448DBDB846DF92.idx
.clangd/index/matrix_clip_space.inl.D4D10256D9A6BC80.idx
.clangd/index/matrix_common.hpp.0E476BA65ECFD994.idx
.clangd/index/matrix_common.inl.CACA9BBD76D74F85.idx
.clangd/index/matrix_double2x2_precision.hpp.76087A6324939693.idx
.clangd/index/matrix_double2x2.hpp.E769FB104AB58884.idx
.clangd/index/matrix_double2x3_precision.hpp.461AFCB76076C5FF.idx
.clangd/index/matrix_double2x3.hpp.21BB7050BF6E541F.idx
.clangd/index/matrix_double2x4_precision.hpp.3FEC0186E41BBB17.idx
.clangd/index/matrix_double2x4.hpp.B3BDD8CAE824F4B5.idx
.clangd/index/matrix_double3x2_precision.hpp.6565254C4D374D00.idx
.clangd/index/matrix_double3x2.hpp.A29A3D0C3FC67950.idx
.clangd/index/matrix_double3x3_precision.hpp.DAB95D15FAEC0BE7.idx
.clangd/index/matrix_double3x3.hpp.31B691BDAD0AD934.idx
.clangd/index/matrix_double3x4_precision.hpp.28955702B67D5A30.idx
.clangd/index/matrix_double3x4.hpp.0FBA72504EBE4E21.idx
.clangd/index/matrix_double4x2_precision.hpp.4B24AC20D8427AFC.idx
.clangd/index/matrix_double4x2.hpp.AF6F62324EB60036.idx
.clangd/index/matrix_double4x3_precision.hpp.DF86F8A8EB2AEDEA.idx
.clangd/index/matrix_double4x3.hpp.BF5F5754AE4E4F3F.idx
.clangd/index/matrix_double4x4_precision.hpp.B62604075EA999BF.idx
.clangd/index/matrix_double4x4.hpp.57AC92C84406BF00.idx
.clangd/index/matrix_float2x2_precision.hpp.009DC855ED0F9EA0.idx
.clangd/index/matrix_float2x2.hpp.526919894ADE0C46.idx
.clangd/index/matrix_float2x3_precision.hpp.F3935830888ED9AC.idx
.clangd/index/matrix_float2x3.hpp.87310D48D95DC05E.idx
.clangd/index/matrix_float2x4_precision.hpp.047BA80D4B1738BB.idx
.clangd/index/matrix_float2x4.hpp.CA16710ED1E1DC90.idx
.clangd/index/matrix_float3x2_precision.hpp.D506584E6C89A025.idx
.clangd/index/matrix_float3x2.hpp.35ECF95CFD656F5E.idx
.clangd/index/matrix_float3x3_precision.hpp.B32D5C53D63C41B2.idx
.clangd/index/matrix_float3x3.hpp.49291100B961254E.idx
.clangd/index/matrix_float3x4_precision.hpp.AFA372FC29AEECE2.idx
.clangd/index/matrix_float3x4.hpp.62FB6A2FF620EA0D.idx
.clangd/index/matrix_float4x2_precision.hpp.24E7A15BA55C8995.idx
.clangd/index/matrix_float4x2.hpp.844D387FBD2F8780.idx
.clangd/index/matrix_float4x3_precision.hpp.3473E61DA24AE1F8.idx
.clangd/index/matrix_float4x3.hpp.15EEF2C7E7024C94.idx
.clangd/index/matrix_float4x4_precision.hpp.7DAD2D3ED3E86F70.idx
.clangd/index/matrix_float4x4.hpp.1750499C97BCA67F.idx
.clangd/index/matrix_int2x2_sized.hpp.729E69F4C9FC8AEA.idx
.clangd/index/matrix_int2x2.hpp.17B0A618DDB85D01.idx
.clangd/index/matrix_int2x3_sized.hpp.9580FCD8FE868208.idx
.clangd/index/matrix_int2x3.hpp.D04743CCD7D3B0AC.idx
.clangd/index/matrix_int2x4_sized.hpp.59983AD4033FBC6A.idx
.clangd/index/matrix_int2x4.hpp.62B0A84CE6E0A7C2.idx
.clangd/index/matrix_int3x2_sized.hpp.6B643CF680217E14.idx
.clangd/index/matrix_int3x2.hpp.F82D51F87620B5E8.idx
.clangd/index/matrix_int3x3_sized.hpp.1E85197C63DD8DDE.idx
.clangd/index/matrix_int3x3.hpp.6F8D728ADE5C1363.idx
.clangd/index/matrix_int3x4_sized.hpp.1FA283E9DCD68889.idx
.clangd/index/matrix_int3x4.hpp.2A4F673A1A1C4208.idx
.clangd/index/matrix_int4x2_sized.hpp.0E076800C0DA7FED.idx
.clangd/index/matrix_int4x2.hpp.61F475572C70CD62.idx
.clangd/index/matrix_int4x3_sized.hpp.1E24195B7867C7F7.idx
.clangd/index/matrix_int4x3.hpp.AC6CF1D8BF6258B6.idx
.clangd/index/matrix_int4x4_sized.hpp.FE357618E56A9702.idx
.clangd/index/matrix_int4x4.hpp.BB7CA60694616FAB.idx
.clangd/index/matrix_integer.hpp.BAF8EBD52E9B756B.idx
.clangd/index/matrix_inverse.hpp.C8DBDA7A3E297DE7.idx
.clangd/index/matrix_inverse.inl.7E2FA18FD6562B25.idx
.clangd/index/matrix_projection.hpp.7E3126CA0D9F6F5B.idx
.clangd/index/matrix_projection.inl.0229DD91193195FF.idx
.clangd/index/matrix_relational.hpp.83789FC04346337B.idx
.clangd/index/matrix_relational.inl.256DC56E294DB0EF.idx
.clangd/index/matrix_transform.hpp.7853EF6268B58AE1.idx
.clangd/index/matrix_transform.hpp.C2FD5A6922D6FC24.idx
.clangd/index/matrix_transform.inl.124400EADC0E397C.idx
.clangd/index/matrix_transform.inl.9351670E2D150802.idx
.clangd/index/matrix_uint2x2_sized.hpp.F1876E2749487B69.idx
.clangd/index/matrix_uint2x2.hpp.2CB418AA7F425BC7.idx
.clangd/index/matrix_uint2x3_sized.hpp.728ABECFE518C155.idx
.clangd/index/matrix_uint2x3.hpp.5C3A72A1AA397820.idx
.clangd/index/matrix_uint2x4_sized.hpp.A588EE78EFFEC1B9.idx
.clangd/index/matrix_uint2x4.hpp.6A74725517AB78EF.idx
.clangd/index/matrix_uint3x2_sized.hpp.2DA6589BC8AF2331.idx
.clangd/index/matrix_uint3x2.hpp.73B68EEE701D58CA.idx
.clangd/index/matrix_uint3x3_sized.hpp.9F5315DDC2BEFD9E.idx
.clangd/index/matrix_uint3x3.hpp.DE51654A2744CF80.idx
.clangd/index/matrix_uint3x4_sized.hpp.261BAA647507742A.idx
.clangd/index/matrix_uint3x4.hpp.C5DB17F32A4274B2.idx
.clangd/index/matrix_uint4x2_sized.hpp.CCDA85E26B812666.idx
.clangd/index/matrix_uint4x2.hpp.808771809891D31F.idx
.clangd/index/matrix_uint4x3_sized.hpp.EB84185E1B7A7132.idx
.clangd/index/matrix_uint4x3.hpp.50B5DA557FD8E122.idx
.clangd/index/matrix_uint4x4_sized.hpp.2CDC992D42B71846.idx
.clangd/index/matrix_uint4x4.hpp.7AF210E819E37FF1.idx
.clangd/index/matrix.hpp.38967108DB5CA075.idx
.clangd/index/monitor.c.8EEEAAC1F516F73B.idx
.clangd/index/noise.hpp.5C8D74572159772E.idx
.clangd/index/noise.inl.7CB132D3FFA04734.idx
.clangd/index/osmesa_context.c.8DB05E9AEB54C0F8.idx
.clangd/index/osmesa_context.h.00EA96717BF5BC22.idx
.clangd/index/packing.hpp.18BEA5329524E04E.idx
.clangd/index/packing.hpp.E42BEBBE4F1638AC.idx
.clangd/index/packing.inl.980209E2E4BA006E.idx
.clangd/index/platform.h.7E5603DE2886013D.idx
.clangd/index/posix_thread.c.05CAAD4FC78A0913.idx
.clangd/index/posix_thread.h.0DFBC634A9653077.idx
.clangd/index/posix_time.c.8F461137A96EA221.idx
.clangd/index/posix_time.h.7245F7057F357D48.idx
.clangd/index/Quad.cpp.A02306AE59E7E2A4.idx
.clangd/index/Quad.hpp.D458FA72B30DE18B.idx
.clangd/index/qualifier.hpp.B4299BDD686571FF.idx
.clangd/index/quaternion_common.hpp.01A9B6840233E8D6.idx
.clangd/index/quaternion_common.inl.832B0F74849CF61F.idx
.clangd/index/quaternion_double_precision.hpp.1512A32B41FF3D9F.idx
.clangd/index/quaternion_double.hpp.5E5738977F530937.idx
.clangd/index/quaternion_exponential.hpp.0695C849343AE491.idx
.clangd/index/quaternion_exponential.inl.68CB1BD13B7F614E.idx
.clangd/index/quaternion_float_precision.hpp.4923C3936EB318DE.idx
.clangd/index/quaternion_float.hpp.2469166C2D5E4B89.idx
.clangd/index/quaternion_geometric.hpp.BBC4A4FAC36F3AA9.idx
.clangd/index/quaternion_geometric.inl.82B0ADB83CADCA2E.idx
.clangd/index/quaternion_relational.hpp.E40DF1AE173997C6.idx
.clangd/index/quaternion_relational.inl.5141E0B25F6BC272.idx
.clangd/index/quaternion_transform.hpp.7F780ADF42695D17.idx
.clangd/index/quaternion_transform.inl.9DE8CF69D839FC21.idx
.clangd/index/quaternion_trigonometric.hpp.DDAB955438322394.idx
.clangd/index/quaternion_trigonometric.inl.60B1315BCA9DA2E9.idx
.clangd/index/quaternion.hpp.6EB0B68757DE4C96.idx
.clangd/index/quaternion.inl.AD4B26F1E6DE4FD3.idx
.clangd/index/random.hpp.807A4FBFA4FD0B0F.idx
.clangd/index/random.inl.D40D0C8D0121837E.idx
.clangd/index/reciprocal.hpp.CCF708C20418E1B7.idx
.clangd/index/Rendering.cpp.95C3512C9887FF7E.idx
.clangd/index/Rendering.hpp.9561FB8D4552C50C.idx
.clangd/index/round.hpp.C7B234E0E37F6B85.idx
.clangd/index/round.inl.9AABC16023C4ABF0.idx
.clangd/index/scalar_common.hpp.0B0DCEB65A92958F.idx
.clangd/index/scalar_common.inl.133E07BF7C68DFCA.idx
.clangd/index/scalar_constants.hpp.FD0A6299DC3288C1.idx
.clangd/index/scalar_constants.inl.849533BF0FBF4DAF.idx
.clangd/index/scalar_int_sized.hpp.E814BBA7B7CB2B82.idx
.clangd/index/scalar_integer.hpp.E364457E418B928F.idx
.clangd/index/scalar_integer.inl.B96B8C096B62BACC.idx
.clangd/index/scalar_packing.hpp.92ED492A418CD503.idx
.clangd/index/scalar_packing.inl.1CB838F357F2DFBE.idx
.clangd/index/scalar_reciprocal.hpp.43C1BA124330A17A.idx
.clangd/index/scalar_reciprocal.inl.A0FB58C247808F33.idx
.clangd/index/scalar_relational.hpp.E2DA4B590D9A8964.idx
.clangd/index/scalar_relational.inl.1709D37A757B1E2C.idx
.clangd/index/scalar_uint_sized.hpp.1E2F9306642B2AF5.idx
.clangd/index/scalar_ulp.hpp.D86387EC4456814E.idx
.clangd/index/scalar_ulp.inl.C5968730871F88D2.idx
.clangd/index/setup.hpp.96578EB5D557092E.idx
.clangd/index/ShaderProgram.cpp.9055307226A3525A.idx
.clangd/index/ShaderProgram.hpp.FFC3E0CAE16D7DC5.idx
.clangd/index/SimpleShaderProgram.cpp.9C1196527247AB23.idx
.clangd/index/SimpleShaderProgram.hpp.8DED25D588142BD8.idx
.clangd/index/SpriteMap.cpp.7D6E8EC1D305121C.idx
.clangd/index/SpriteMap.hpp.5D3857E82B28BCF8.idx
.clangd/index/Texture.cpp.C17E6D12CFA949ED.idx
.clangd/index/Texture.hpp.B6872B308E501048.idx
.clangd/index/trigonometric.hpp.08641A1CB7CBEA8A.idx
.clangd/index/type_float.hpp.D9F1D4E79E372871.idx
.clangd/index/type_half.hpp.558891182DF91577.idx
.clangd/index/type_half.inl.6CC69A744A3FA2D4.idx
.clangd/index/type_mat2x2.hpp.176D9734D3089D27.idx
.clangd/index/type_mat2x2.inl.C8896703DB253BB6.idx
.clangd/index/type_mat2x3.hpp.2608116EC2A0438B.idx
.clangd/index/type_mat2x3.inl.4546886AAE347FB0.idx
.clangd/index/type_mat2x4.hpp.B429139398BC0046.idx
.clangd/index/type_mat2x4.inl.BE9B4497EA3AE5F7.idx
.clangd/index/type_mat3x2.hpp.8888EB34FDA8424C.idx
.clangd/index/type_mat3x2.inl.F1987DD27E49BC68.idx
.clangd/index/type_mat3x3.hpp.C9907B680283878E.idx
.clangd/index/type_mat3x3.inl.0AA9AD0E2009BBE4.idx
.clangd/index/type_mat3x4.hpp.C352B1437C48A9F5.idx
.clangd/index/type_mat3x4.inl.DBED4E3041BC5AD6.idx
.clangd/index/type_mat4x2.hpp.214541E412484E16.idx
.clangd/index/type_mat4x2.inl.B27D61F11248E1EA.idx
.clangd/index/type_mat4x3.hpp.EB2542F42DBB2B48.idx
.clangd/index/type_mat4x3.inl.835BD449C66BB764.idx
.clangd/index/type_mat4x4.hpp.7BEC23A709248308.idx
.clangd/index/type_mat4x4.inl.B8D4B5E08BD4CCD5.idx
.clangd/index/type_precision.hpp.5156FDF8505705A3.idx
.clangd/index/type_precision.inl.F36892B56E96C273.idx
.clangd/index/type_ptr.hpp.CE050E946999AAE4.idx
.clangd/index/type_ptr.inl.AB9D71D45CC8A798.idx
.clangd/index/type_quat.hpp.5DDC2A96E5CEC38D.idx
.clangd/index/type_quat.inl.D05330447EA4F839.idx
.clangd/index/type_vec1.hpp.5B807A1801290663.idx
.clangd/index/type_vec1.inl.D97A04F4CEFA390F.idx
.clangd/index/type_vec2.hpp.FE7988E1BC5AFF68.idx
.clangd/index/type_vec2.inl.CD113521BC5EE46E.idx
.clangd/index/type_vec3.hpp.B782DD0FB3F378A5.idx
.clangd/index/type_vec3.inl.7901298EE4D4649E.idx
.clangd/index/type_vec4.hpp.7FD0C2037DEAB44B.idx
.clangd/index/type_vec4.inl.6894078300E42ACA.idx
.clangd/index/ulp.hpp.3AC60B31C9E27A10.idx
.clangd/index/ulp.inl.01FA76A5D38948F7.idx
.clangd/index/vec1.hpp.37C4BA0184009E9A.idx
.clangd/index/vec2.hpp.5FBD459B99E9283B.idx
.clangd/index/vec3.hpp.430055DAC3919585.idx
.clangd/index/vec4.hpp.0ADF9C4DB8658DDC.idx
.clangd/index/vector_bool1_precision.hpp.866F24CCAF44ACE4.idx
.clangd/index/vector_bool1.hpp.17C512845B6B1658.idx
.clangd/index/vector_bool2_precision.hpp.DDFDD4EE7736B6D6.idx
.clangd/index/vector_bool2.hpp.B673668B13AE4C14.idx
.clangd/index/vector_bool3_precision.hpp.910B8673C55BC459.idx
.clangd/index/vector_bool3.hpp.475FC070743A657F.idx
.clangd/index/vector_bool4_precision.hpp.F835A17F6778D016.idx
.clangd/index/vector_bool4.hpp.5B9374219C59A134.idx
.clangd/index/vector_common.hpp.76833BCFBA011D76.idx
.clangd/index/vector_common.inl.8A7783DF7F3DE4BD.idx
.clangd/index/vector_double1_precision.hpp.295B03854737E1E2.idx
.clangd/index/vector_double1.hpp.9C1E9ACC1EF33CB3.idx
.clangd/index/vector_double2_precision.hpp.1DB2D1663AA09DC4.idx
.clangd/index/vector_double2.hpp.1ABAF9C32B9ECCD8.idx
.clangd/index/vector_double3_precision.hpp.8E64C72DE8C1EACF.idx
.clangd/index/vector_double3.hpp.18AEB3F5F322FEAA.idx
.clangd/index/vector_double4_precision.hpp.6E4D4EF7EA8197BF.idx
.clangd/index/vector_double4.hpp.E78F794B6F38560F.idx
.clangd/index/vector_float1_precision.hpp.AF2A80203630E1E1.idx
.clangd/index/vector_float1.hpp.1063FC431CB8FDE1.idx
.clangd/index/vector_float2_precision.hpp.F5CFFA666B0AD877.idx
.clangd/index/vector_float2.hpp.4A8C2D33B5260E7B.idx
.clangd/index/vector_float3_precision.hpp.9B47E382731307B4.idx
.clangd/index/vector_float3.hpp.F814F0CE6970A11B.idx
.clangd/index/vector_float4_precision.hpp.C7BF8E5E5B8ECE2B.idx
.clangd/index/vector_float4.hpp.F69559D5EF6018F1.idx
.clangd/index/vector_int1_sized.hpp.56D885EA0F394530.idx
.clangd/index/vector_int1.hpp.AF12107CB2A93D34.idx
.clangd/index/vector_int2_sized.hpp.24BA9966EA5F8118.idx
.clangd/index/vector_int2.hpp.E092527F1877F6CC.idx
.clangd/index/vector_int3_sized.hpp.4A383CD9BBCFF194.idx
.clangd/index/vector_int3.hpp.BEE59E5E07B953EF.idx
.clangd/index/vector_int4_sized.hpp.47D65121CE07CFD7.idx
.clangd/index/vector_int4.hpp.184CE2ED774DB854.idx
.clangd/index/vector_integer.hpp.ED1613AB72EF2A94.idx
.clangd/index/vector_integer.inl.4E882E146B1762F0.idx
.clangd/index/vector_packing.hpp.3862F289A941812A.idx
.clangd/index/vector_packing.inl.BE348C69F404AA9C.idx
.clangd/index/vector_reciprocal.hpp.E25FB4A3AB018B3C.idx
.clangd/index/vector_reciprocal.inl.DB223AFA9B742A1C.idx
.clangd/index/vector_relational.hpp.3EDCBF770EA27BE3.idx
.clangd/index/vector_relational.hpp.4484BDFD522339D8.idx
.clangd/index/vector_relational.inl.151D1E21A8394C7E.idx
.clangd/index/vector_uint1_sized.hpp.897536FD3C05E57C.idx
.clangd/index/vector_uint1.hpp.67EE04BC6D8E0003.idx
.clangd/index/vector_uint2_sized.hpp.50679C338A3BC527.idx
.clangd/index/vector_uint2.hpp.0C72A0A18A57A218.idx
.clangd/index/vector_uint3_sized.hpp.094E1A42F666849C.idx
.clangd/index/vector_uint3.hpp.0A8682093DCDBA53.idx
.clangd/index/vector_uint4_sized.hpp.24BF408A4EC56C55.idx
.clangd/index/vector_uint4.hpp.7D462845E94348E2.idx
.clangd/index/vector_ulp.hpp.E106702F7EFA4604.idx
.clangd/index/vector_ulp.inl.81F9E6E56800BACA.idx
.clangd/index/vulkan.c.760F3470418049AD.idx
.clangd/index/window.c.DB0F9814F09BDE2F.idx
.clangd/index/x11_init.c.D3CD9A5517AC7B19.idx
.clangd/index/x11_monitor.c.F816D419A5FED89B.idx
.clangd/index/x11_platform.h.4A28239673A60E6F.idx
.clangd/index/x11_window.c.387FC5320B2BBD30.idx
.clangd/index/xkb_unicode.c.FABCABB06E546DA3.idx
.clangd/index/xkb_unicode.h.CE540C366BFA6A44.idx
.projectile
compile_commands.json
