[submodule "exts/glfw"]
	path = exts/glfw
	url = https://github.com/glfw/glfw.git
[submodule "exts/glew"]
	path = exts/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "exts/glad"]
	path = exts/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "exts/glm"]
	path = exts/glm
	url = https://github.com/g-truc/glm.git
